
.basicLinksContainer{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.basicLinksContainer img{
    width: 30px;
}

.basicLinksContainer div{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    gap: 20px;
    margin-bottom: 10px;
}

.basicGitHubLinkContainer a, .basicLinkedInLinkContainer a{
    color: aquamarine;
    text-decoration: underline;
}

