.nav_navContainer{
    width: 100%;
    padding: 0px 20px;
    /* border-radius: 10px; */
    /* margin-top: 15vh; */
}

.nav_navContainer ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5vh;
}

.nav_navContainer ul li{
    width: 100%;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
}

.nav_navContainer ul li:hover{
    color: rgb(0, 0, 0);
    /* background-color: aquamarine; */
    background-color: rgb(255, 181, 44);
}

.nav_selected{
    /* background-color: rgb(216, 131, 71); */
    background-color: black;
    background-color: rgba(104, 104, 251, 0.875);
    /* bg-blue-600 */
    /* color: orange !important; */
}